.table a {
    color: #000;
    text-decoration: none;
}
.table a:hover {
    text-decoration: underline;
}
.table th a {
    font-weight: bold;
}
.badge {
    padding: 6px 10px;
    font-size: 0.9rem;
}

#instructors-table td, 
#instructors-table th {
    vertical-align: middle !important;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar:nth-child(7) {
    justify-self: end;
}

#instructors-header {
    display: flex;
    justify-content: center;
}

.sidebar {
    height: 100vh;
}